<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mred">

  <!-- Constants -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Base -->
  <link name="base_link"/>

  <!-- Thrusters -->
  <link name="thruster_portside_link"/>
  <joint name="base_to_thruster_portside" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_portside_link"/>
    <origin xyz="-0.29 0.14 0.0" rpy="0 0 0"/>
  </joint>

  <link name="thruster_starboard_link"/>
  <joint name="base_to_thruster_starboard" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_starboard_link"/>
    <origin xyz="-0.29 -0.14 0.0" rpy="0 0 0"/>
  </joint>

</robot>
