<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myellow">

  <!-- Constants -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Base -->
  <link name="base_link"/>

  <!-- Portside horizontal back thruster -->
  <link name="thruster_portside_horizontal_back_link"/>
  <joint name="base_to_thruster_portside_horizontal_back" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_portside_horizontal_back_link"/>
    <origin xyz="-0.306 -0.062 0.0" rpy="0 0 ${0.25*M_PI}"/>
  </joint>

  <!-- Starboard horizontal back thruster -->
  <link name="thruster_starboard_horizontal_back_link"/>
  <joint name="base_to_thruster_starboard_horizontal_back" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_starboard_horizontal_back_link"/>
    <origin xyz="-0.306 0.062 0.0" rpy="0 0 -${0.25*M_PI}"/>
  </joint>

  <!-- Portside vertical thruster -->
  <link name="thruster_portside_vertical_link"/>
  <joint name="base_to_thruster_portside_vertical" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_starboard_vertical_link"/>
    <origin xyz="0.087 0.120 -0.12" rpy="0 -${0.5*M_PI} 0"/>
  </joint>

  <!-- Starboard vertical thruster -->
  <link name="thruster_starboard_vertical_link"/>
  <joint name="base_to_thruster_starboard_vertical" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_portside_vertical_link"/>
    <origin xyz="0.087 -0.120 -0.12" rpy="0 -${0.5*M_PI} 0"/>
  </joint>

  <!-- Portside horizontal front thruster -->
  <link name="thruster_portside_horizontal_front_link"/>
  <joint name="base_to_thruster_portside_horizontal_front" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_portside_horizontal_front_link"/>
    <origin xyz="0.300 -0.197 0.0" rpy="0 0 -${0.25*M_PI}"/>
  </joint>

  <!-- Starboard horizontal front thruster -->
  <link name="thruster_starboard_horizontal_front_link"/>
  <joint name="base_to_thruster_starboard_horizontal_front" type="fixed">
    <parent link="base_link"/>
    <child link="thruster_starboard_horizontal_front_link"/>
    <origin xyz="0.300 0.197 0.0" rpy="0 0 ${0.25*M_PI}"/>
  </joint>


  <link name="dvl_link"/>
  <joint name="base_to_dvl" type="fixed">
    <parent link="base_link"/>
    <child link="dvl_link"/>
    <origin xyz="0.5 0.0 -0.265" rpy="0 0 0"/>
  </joint>

  <link name="gnss_link"/>
  <joint name="base_to_gnss" type="fixed">
    <parent link="base_link"/>
    <child link="gnss_link"/>
    <origin xyz="-0.5 0.0 0.4" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>
  <joint name="base_to_imu" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="depth_link"/>
  <joint name="base_to_depth" type="fixed">
    <parent link="base_link"/>
    <child link="depth_link"/>
    <origin xyz="-0.3 0.0 0.2" rpy="0 0 0"/>
  </joint>

  <link name="altimeter_link"/>
  <joint name="base_to_altimeter" type="fixed">
    <parent link="base_link"/>
    <child link="altimeter_link"/>
    <origin xyz="-0.3 0.0 -0.2" rpy="0 0 0"/>
  </joint>

</robot>
